* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "sans-serif";
}

h1 {
  margin: 0.5em 0 1em;
}

#grid {
  margin: 1em auto 0;
  border-spacing: 0;
  border-collapse: collapse;
}

#grid td,
#grid .cell {
  border: 1px solid gray;
}

@keyframes birth {
  50% {
    box-shadow: 0 0 0 99px green inset;
  }
}

@keyframes die {
  50% {
    box-shadow: 0 0 0 99px red inset;
  }
}

#grid input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: white;
}

#grid input[type="checkbox"]:checked {
  box-shadow: 0 0 0 99px #0e0f12 inset;
  animation: birth 500ms;
}

button,
.button {
  padding: 0.3em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.7) inset,
    0 0.15em 0.1em -0.1em rgba(0, 0, 0, 0.4);
  background: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0))
    #527bd8;
  font: inherit;
  font-weight: bold;
  color: black;
  outline: none;
  cursor: pointer;
}

button:enable:active,
.button:active,
input[type="checkbox"]:checked + label.button {
  background-image: none;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5) inset;
}

button:disabled {
  background-color: hsl(247, 8%, 61%);
  cursor: not-allowed;
}

#autoplay {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.chat_people .post_item:hover .post_item__body.trunc::after {}